.menu {
    width: 15%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: 99;
    position: fixed;
    height: 100vh;
    background: url("./../../images/silver-light-blue-wave.jpg") no-repeat 40% 80vh $white;
    background-size: 100%;
    transition: all 0.4s ease-in-out;

    &__liste {
        list-style: none;
        padding: 0;
        overflow: auto;

        li {
            padding: 0.8em 1em;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            a {
                color: $menuTypo;
                transition: all 0.3s ease-in-out;
            }

            &::before {

                opacity: 1;
                font-size: toRem(8);
                color: $menuHoverBg;
                margin-right: 1.3em;
                vertical-align: middle;
            }

            &:hover,
            &.selected {
                background-color: $menuHoverBg;
                padding-left: 1.3em;

                &::before {
                    opacity: 0;
                }
                
                a {
                    color: $menuHover;
                }
            }
        }
    }
/*
    @media screen and (max-width: $medium) {
        transform: translateX(-160%);
    }

    @media screen and (max-width: $tiny) {
        transform: translateX(-180%);
    }
 

    &--isShow {
        transform: translateX(0);

        @media screen and (max-width: $medium) {
            width: 40%;
        }

        @media screen and (max-width: $tiny) {
            width: 100%;
        }
    }

    &--round {
        background: url($PATH_IMG + "menu-form-2.svg") no-repeat 40% 50vh $white;
        background-size: 200%;

 
    }

    &--triangle {
        background: url($PATH_IMG + "menu-form-1.svg") no-repeat 90% 35vh $white;
        background-size: 250%;

    }

    &__logo {
        height: 20vh;
    }

    &__anchor {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 5%;
        background: url($PATH_IMG + "logo-42.svg") center 1vh no-repeat;
        //background-size: 50%;
        background-size: contain;
    }

    &__items {
        height: 60vh;
        padding-top: 10%;
    }

   

    &__footer {
        color: $menuTypoFooter;

        @media screen and (max-width: $medium) {
        }

        &__tour {
            width: 80%;
            margin: 0 auto;
        }

        &__claim {
            margin: 5% 0;

            a {
                color: $menuTypoFooter;
                text-decoration: underline;
                transition: color ease-in-out 0.3s;

                &:hover {
                    color: $white;
                }
            }
            
        }
    } */
}