%wrapCommon {
    border-radius: toRem(15);
    padding: 2.5rem;
    background: $white;
}

.container {
    flex-basis: 85%;

    @media screen and (max-width: $medium) {
        flex-basis: 100%;
    }

    &--margin {
        margin-left: 16%;

        @media screen and (max-width: $medium) {
            margin-left: 0;
        }    
    }
}

.content {
    width: 95%;
    margin: 2% 0 0 0;

    &--isResponsive {
        display: none;

        @media screen and (max-width: $medium) {
            display: block;
            z-index: 999;
            position: fixed;
            top: 20px;
            padding-left:1%
        }
    }

    &__header {
        margin-bottom: 1%;
    }

    &--subCat {
        margin-top: 1.5%;
    }

    &__wrapper {
        @extend %wrapCommon;

        & > div {
            flex: 0 1 33%;
            
            @media screen and (max-width: $eole) {
                flex: 0 1 49%;
                margin-bottom: 7%;
            }

            @media screen and (max-width: $small) {
                flex: 0 1 100%;
                margin-bottom: 15%;
            }

        }
    }

    &__wrapperCheckList {
        @extend %wrapCommon;

        &--fullScreenForm{
            @extend %wrapCommon;

            & > div:nth-of-type(1) {
                flex: 0 1 100%;
    
            }
            & > div:nth-of-type(2) {
                flex: 0 1 100%;
    
            }

        }
        & > div:nth-of-type(1) {
            flex: 0 1 100%;

        }
        & > div:nth-of-type(2) {
            flex: 0 1 33%;

        }

        & > div:nth-of-type(3) {
            flex: 0 1 65%;
            padding-left: 3%;

        }
    }

    &__wrapperNews{
        @extend %wrapCommon;
    }

    &__newsList {
        flex-basis: 80%;
    }
}

//page formulaires VM 
.flex-50 {
    flex: 0 0 50% !important;

    @media screen and (max-width: $medium) {
        flex: 1 !important;
    }

    section {
        flex: 1;
    }
}

.disk {
    margin: 0 0 5% 0;
}

.flex-100 {
    flex: 0 0 95%;

    div:first-of-type {
        flex: 1;
    }
}