%headerLinks {
    color: $icons;
    font-size: toRem(18);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $iconsHover;
    }
}

.header {
    height: 7vh;
    min-height: toRem(15);
    width: 100%;
    background: $white;
    z-index: 2;

    @media screen and (max-width: $medium) {
        justify-content: flex-start !important;
    }

    &__title{
        margin-left: 17%;
        font-size: toRem(10);
    }

/*     @media screen and (max-width: $medium) {
        justify-content: flex-start !important;
    }

    &__utils {
        flex-basis: 10%;
        border-right: 1px solid $separator;
        border-right: 1px solid $separator;
        border-left: 1px solid $separator;

        @media screen and (max-width: $medium) {
            flex-basis: 20%;
        }

       

        a {
            @extend %headerLinks;
        }
        
    }

    &__user {
        flex-basis: 15%;

        @media screen and (max-width: $medium) {
            flex-basis: 20%;
        }

    }

    
    .dropdown {

        &-container {
            height: 7vh;
            min-height: toRem(60);

            .dropdown-content {
                width: 100%;
                top: calc(101%);
                right: 0;
        
                ul {
                    list-style: none;
                    box-shadow: none;
                    min-width: auto;
        
                    li {
                        cursor: pointer;

                        a {
                            background: none;
                            color: currentColor;
                            font-size: toRem(15);
                            padding: 0;
                            font-weight: normal;
                            
                            span {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                max-width: 100%;
                                overflow: hidden;
                                
                            }
                        } 
                    }
                }

                .arrow {
                    display: none;
                }
            }
        }

        &-button {
            &::before {
                @include generateIcons("\f007");
                font-size: 1.500em;
                position: absolute;
                right: 5%;
            }

            &::after {
                @include generateIcons("\f107");
                position: absolute;
                right: 20%;
            }

            .ico-account {
                display: none;
            }
    
            &:hover,
            &:active,
            &:focus {
                background: $iconsHover;
                color: currentColor;
            }
    
            .profil-label {
                flex: 0 75%;
                padding: 0 5%;
                box-sizing: border-box;
            }
    
            .picto-user {
                display: none;
            }
        } 
    
        &-hidden-label,
        &-content-hidden {
            display: none;
        }
    }
}

.docs{

    &__header{
        @extend %headerLinks;
        &:hover{
            cursor:pointer
        }
        &:focus-within {
            color: $iconsHover;
        }
    }
    

    ul{
        margin: 1em 1em 1em 0em;
    }

    &-content-hidden {
        display: none;
    }
    
    &-content{
        border: solid 1px;
        background: $white;
        position: absolute;
        border: 1px solid #e3e3e3;
        background: #fff;
        position: absolute;
        border-radius: toRem(10);
        top: toRem(70);
        right: 17%;
        z-index: 99;
        box-shadow: toRem(1) toRem(3) toRem(6) rgba(0,0,0,0.2);

        @media screen and (max-width: $medium) {
            right: 31%;
        }
        
        &:before{
            content: '';
            border: toRem(17) solid transparent;
            border-bottom: toRem(15) solid $white;
            right: 7%;
            top: -8%;
            position:absolute;
        }

        ul {
            list-style: none;
            padding: 5% 10%;
            margin: 0;

           li {
                line-height: 2em;
                a {
                    color:$breadcrumb;
                    @extend %headerLinks;
                }
            &:hover {
                cursor:pointer
                }
            }
        }
    } */
}