@function toRem($px, $context: 10) {
     
    @if (unitless($px)) {
        $px: $px * 1px;
    } @else {
        @warn 'la valeur de la fonction toRem doit être un number';
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $px / $context * 1rem;
}