@mixin generateIcons ($content, $weight: 900) {
    font-family: 'Font Awesome 5 Free';
    content: $content;
    font-weight: 900;
}

@mixin flexDisplay ($row: row, $wrap: nowrap, $justify: center, $align: center, $items: 'false') {
    display: flex;
    flex-flow: $row $wrap;
    justify-content: $justify;
    align-content: $align;
    @if $items != 'false' {
        align-items: center;
    }
}



