$baseFontSize: 16px !default;
$globalLineHeight: 1.5 !default;

/*GLOBAL*/
$white: white;
$dark: #000;
$background: #e6e8ed;
$primary: #492e5a;
$contentTour: $white;
$maskTour: rgb(32, 32, 47);

/* HEADER */
$alerts: #c64c4c;
$news: $primary;
$icons: #bcbccb;
$iconsHover: #f8c163;
$iconsHoverAlt: #878798;

/*TYPO*/
$titles: #525252;
$subTitles: #306fad;
$subTitlesHover: #09427a;
$alterTitles: #656565;
$text: #656565;
$textHover: #383838;
$textDisabled: #d0d0d0;
$breadcrumb: #717171;
$separator: #e2e2e2;

/*MENU*/
$menuTypo: #292929;
$menuHover: $white;
$menuHoverBg: #306fad;
$menuTypoFooter: #bcbccb;
$buttonTour: #f8bd4e;
$buttonTourHover: #fccb6f;
$buttonTourColor: $primary;
$buttonTourShadow: $primary;

/*TABLES*/
$tableHeader: #f4f7fc;
$tablePrimary: #4f75a2;
$tableCellHover: $tableHeader;
$cellActive: #3fb11c;
$cellDeleted: #ffb50d;
$cellWaited: #d3e7eb;

/*FORMS*/
$globalErrorBg: $alerts;
$globalErrorColor: $alerts;
$toolTipFocus: $subTitles;
$tooltipLabelBg: rgba(51, 51, 51, 0.9);
$autocompleteBaseColor: $white;
$autoCompleteBorder: rgba(175, 175, 175, 1); //#afafaf
$containerBorder: rgba(170, 170, 170, 1); //#aaa
$autoCompleteBorderFake: $subTitles;
$autoCompleteDisabled: rgba(235, 235, 228, 1);
$autoCompleteLabel: rgba(102, 51, 153, 1); //#663399
$autoCompleteStates: $subTitles;
$autocompleteblack: $dark;
$inputResetFocusImg: rgba(158, 158, 158, 0.2);
$inputResetFocusImgBoxShadow: rgba(0, 97, 255, 1); //#0061ff
$autocompleteBadge: rgba(255, 64, 129, 1); //#ff4081
$inputGlobalBorder: rgba(174, 174, 174, 1); //#aeaeae
$iconStatesOutline: $subTitles;
$formBaseCheckboxColor: $primary;
$formBaseCheckboxError: $alerts;
$formBaseCheckboxWarn: $alerts;
$formCheckboxOutline: $subTitles;
$formCheckboxChecked: $primary;
$formCheckboxDisabled: rgba(122, 122, 122, 1); //#7a7a7a
$formCheckboxMaterial: rgba(0, 0, 0, 0.84);
$formCheckboxMaterialBg: rgba(235, 235, 228, 1); //#ebebe4
$formLabelRequired: $alerts;
$fieldsetLegendColor: $subTitles;
$formSubtitleColor: $primary;
$formLabelSubtle: rgba(102, 102, 102, 1); //#666
$formBorder: rgba(221, 221, 221, 1); //#ddd
$formCheckboxChecked: $primary;
$formSwitchLabel: $subTitles;
$radioLabelDisabled: rgba(147, 147, 147, 1); //#939393
$radioLabelCheckDisabled: rgba(122, 122, 122, 1); //#7a7a7a
$selectedFieldBorder: rgba(174, 174, 174, 1); //#aeaeae
$radioBaseColor: $white;
$calendarThirdColor: rgba(235, 250, 255, 1); //#ebfaff
$calendarFifthColor: rgba(204, 204, 204, 1); //#ccc
$calendarSixthColor: rgba(233, 233, 233, 1); //#e9e9e9
$rcCalendarTimeBorder: rgba(217, 217, 217, 1); //#d9d9d9
$rcCalendarSwitcherHover: rgba(45, 183, 245, 0.8);
$rcCalendarFullScreenBorder: rgba(238, 238, 238, 1); //#eee
$rcCalendarRange: rgba(235, 244, 248, 1); //#ebf4f8
$calendarThirdColor: rgba(235, 250, 255, 1); //#ebfaff
$calendarFifthColor: rgba(204, 204, 204, 1); //#ccc
$rcCalendarArrows: rgba(153, 153, 153, 1); //#999
$rcCalendarDaySelectedColor: rgba(217, 244, 254, 1); //#d9f4fe
$rcCalendarDisabledColor: rgba(188, 188, 188, 1); //#bcbcbc
$rcCalendarDisabledHoverBg: rgba(243, 243, 243, 1); //#f3f3f3
$rcCalendarMonthColor: rgba(187, 187, 187, 1); //#bbb
$calendarSixthColor: rgba(233, 233, 233, 1); //#e9e9e9
$calendarCloseColor: rgba(170, 170, 170, 1); //#aaa
$rcCalendarTimeBorder: rgba(217, 217, 217, 1); //#d9d9d9
$rcCalendarMonthDisabled: rgba(191, 191, 191, 1); //#bfbfbf
$rcCalendarPicker: rgba(244, 104, 48, 1); //#f46830
$selectedFieldBorder: rgba(174, 174, 174, 1); //#aeaeae
$selectedBgWhite: $white;
$selectedShadow: $dark;
$selectedFieldFocus: $subTitles;
$selectedFieldReadonly: rgba(235, 235, 228, 1); //#ebebe4
$switchGlobalBg: $primary;
$radioBaseColor: $white;
$switchLabel: rgba(135, 207, 250, 1); //#87cffa
$switchLabelDisabled: rgba(174, 174, 174, 1); //#aeaeae
$switchLabelContent: rgba(69, 69, 69, 1); //#454545
$textAreaFocus: $subTitles;
$charCounterColor: rgba(102, 102, 102, 1); //#666
$charCounterColorWarning: rgba(214, 0, 0, 1); //#d60000
$uploadBaseColor: $white;
$uploadContent: $subTitles;
$uploadBoxShadow: rgba(0, 0, 0, 0.2);
$uploadHover: $subTitlesHover;
$uploadReadonlyContent: rgba(169, 169, 169, 1); //#a9a9a9