html {
    box-sizing: border-box;
}

body {
    background: $background;
    color: $text;
    line-height: $globalLineHeight;
    font-size: $baseFontSize !important;
}

#site {
    padding-top: 0;
}

* {
    &::selection {
        background: $primary;
        color: $background;
    }
    &::-moz-selection {
        background: $primary;
        color: $background;
    }
}

textarea {
    border-radius: toRem(5);
    border: 1px solid $inputGlobalBorder;
}

.input,
textarea {
    position: relative;    
}

.input-reset {
    position: absolute;
}

.textarea-reset {
    position: absolute;
    margin: 0;
    top: 0;
    right: 4px;
}

.textarea-container {
    .textarea-reset {
        margin-top: 0;
    }

    textarea:hover, textarea:focus{
        outline: none;
        border: 1px solid $toolTipFocus
    }
}

.ripple-effect {
    display: none;
}

.wrapper {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: currentColor;
}

h1 {
    color: $titles;
    font-weight: 500;
}

h2 {
    color: $subTitles;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $subTitlesHover;
    }
}

h3{
    color : $primary;
}

h4{
    font-weight: bold;
}

h5 {
    font-weight: 500;
    color: $alterTitles;
}

.loader-page {
    top: 0 !important;
}

input {
    border-radius: toRem(5);
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.filArianne{
    transition: all 0.4s ease-in-out;
    &--first{
        margin-left: 1em;
    }

    &:hover{
        color: $subTitlesHover;
    }

    &--middle{
        &::after{
            content : ">" ;
            margin: 0 10px 0 10px;
        }
    }
}