//liste des propriété et leurs valeurs
$eole: 1370px;
$medium: 960px;
$small: 768px;
$tiny: 480px;


$grid: (
    'direction': (
        'row': row,
        'reverse': row-reverse,
        'column': column,
        'c-reverse': column-reverse
    ),
    'wraping': (
        'nowrap': nowrap,
        'wrap': wrap,
        'reverse': wrap-reverse
    ),
    'justify': (
        'end': flex-end,
        'center': center,
        'between': space-between,
        'around': space-around,
        'evenly': space-evenly
    ),
    'align': (
        'start': flex-start,
        'end': flex-end,
        'center': center,
        'baseline': baseline
    ),
    'content': (
        'start': flex-start,
        'end': flex-end,
        'center': center,
        'between': space-between,
        'around': space-around
    )
);

//on boucle sur l'array list $grid pour générer les bonnes classes
.grid {
    display: flex;

    @each $key, $value in map-get($grid, 'direction') {
        @each $k, $v in map-get($grid, 'wraping') {
            &--#{$key}-#{$k} {
                flex-flow: #{$value} #{$v};
            }
        }
    }

    &--justify {
        @each $key, $value in map-get($grid, 'justify') {
            &-#{$key} {
                justify-content: #{$value};
            }
        }
    }
    
    &--align {
        @each $key, $value in map-get($grid, 'align') {
            &-#{$key} {
                align-items: #{$value};
            }
        }
    }
    &--a-content {
        @each $key, $value in map-get($grid, 'content') {
            &-#{$key} {
                align-content: #{$value};
            }
        }
    }

    @for $i from 0 through 12 {
        &--order-#{$i} {
            order: $i;
        }
    }

    & > * {
        flex: 0 1 auto;    
    }
}