table,
.table {
    border: none;
    //border-collapse: unset;
}

.flex-container {
    display: -moz-groupbox;    
}

.grid-6 {
    display: -moz-groupbox;    
}


.flex-item-fluid {
    width: 100% !important;
    flex: 1;
    min-width: 0;
}

// Surcharge du style hornet pour les labels marqués obligatoires 
.form-titles {
    padding-left: 0;
}

//surchager le hover et focus des inputs
input[type="text"]:focus, input[type="text"]:hover {
    border: 1px solid $toolTipFocus !important;
    outline : none !important;
}