$notoBold: "NotoSansUI-Bold";
$notoRegular: "NotoSansUI-Regular";
$roboto: "Roboto";

.titre {
    &--light {
        font-size: toRem(20);
        margin-bottom: 1.5%;
        font-weight: normal;
    }
}